.Navbar {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;
    padding: 1px 32px;
    background-color: #F2E8CF;
    border-bottom: 1.5px solid #6B4226; /* Thin line at the bottom */

  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 24px; /* spacing between links */
  }
  
  
  .Navbar-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #F2E8CF;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .Navbar-logo img {
    height: 80px;
    width: auto;
    object-fit: contain;
  }
  
  .Navbar a {
    position: relative;
    margin-left: 24px;
    color: #6B4226; 
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
    font-size: 1.2rem;
  }
  
  .Navbar a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #6B4226;
    transform-origin: right;
    transition: transform 0.3s ease-out;
  }
  
  .Navbar a:hover {
    color: #6B4226;
  }
  
  .Navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .Navbar button {
    background-color: hsl(24, 48%, 28%); 
    color: #F2E8CF;
    border: none;
    padding: 8px 16px;
    margin-left: 24px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s ease;
  }
  
  .Navbar button:hover {
    background-color: #A3B18A; /* Olive green */
  }
  

 